body, html {
    margin: 0 auto;
    font-family: 'Barlow', sans-serif;
    height: 100vh;
    width: 100%;
}
.bodyWrapper {
    height: 100%;
    background-color: #fffbe7;
}
.headerWrapper {
    background-color: #242582;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headerWrapper h1 {
    font-size: 3em;
}
.headerWrapper h2 {
    font-size: 1.8em;
}
.footer {
    position: fixed;
    width: 100%;
	left: 0;
    bottom: 15px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.content {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    height: 300px;
    cursor: pointer;
}
.poster img {
    height: 100%;
    border-radius: 8px;
}