body, html {
    margin: 0 auto;
    font-family: 'Barlow', sans-serif;
    height: 100vh;
    background-color: #fffbe7;
}
.bodyWrapper {
    height: 100%;
}
.headerWrapper {
    background-color: #242582;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}
.headerWrapper h1 {
    font-size: 3em;
}
.headerWrapper h2 {
    font-size: 1.8em;
}
.footer {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 50px;
    bottom: 15px;
}
.content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
}

.content h2 {
    text-align: center;
}

.poster {
    height: 550px;
    cursor: pointer;
}

.poster img {
    height: 100%;
    border-radius: 8px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.buttonWrapper {
    width: 100%;
    text-align: center;
}

button {
    padding: 10px;
    border: unset;
    border-radius: 10px;
    background-color: #242582;
    color: white;
    width: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 500px) {
    .headerWrapper {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .headerWrapper h1 {
        font-size: 20px;
    }
    .headerWrapper h2 {
        font-size: 15px;
    }
    .poster {
        height: 500px;
    }
    .poster img {
        border-radius: 16px;
    }
    .content {
        margin-top: 0;
    }
    .content h2 {
       margin: 70px 15px 30px 15px;
    }
    /* .buttonWrapper {
        padding-top: 40px;
    } */
    .footer {
        top: 40px;
    }
}
@media screen and (max-height: 700px) { 
    .poster {
        height: 400px;
    }
}
@media screen and (max-height: 785px) { 
    .buttonWrapper {
        padding-top: 35px;
    }
}